[project]
	description = Automatically exported from code.google.com/p/proyecto5r1
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luis Alberto Guanuco (guanucoluis)
[access "refs/for/refs/*"]
	read = group user/Luis Alberto Guanuco (guanucoluis)
	push = group user/Luis Alberto Guanuco (guanucoluis)
	label-Code-Review = -2..+2 group user/Luis Alberto Guanuco (guanucoluis)
	label-Verified = -1..+1 group user/Luis Alberto Guanuco (guanucoluis)
	rebase = group user/Luis Alberto Guanuco (guanucoluis)
	removeReviewer = group user/Luis Alberto Guanuco (guanucoluis)
	submit = group user/Luis Alberto Guanuco (guanucoluis)
[access "refs/heads/*"]
	read = group user/Luis Alberto Guanuco (guanucoluis)
	create = group user/Luis Alberto Guanuco (guanucoluis)
	push = +force group user/Luis Alberto Guanuco (guanucoluis)
	pushMerge = group user/Luis Alberto Guanuco (guanucoluis)
[access "refs/tags/*"]
	push = +force group user/Luis Alberto Guanuco (guanucoluis)
	pushTag = group user/Luis Alberto Guanuco (guanucoluis)
	pushSignedTag = group user/Luis Alberto Guanuco (guanucoluis)
